// @import url(https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700);

body {
    font-family: 'Nunito Sans', Calibri, Candara, Optima, Arial, sans-serif;
}

code {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 85%;
}

.zh {
    font-family: STKaiti;
}