{{- partial "header.html" . -}}

<body class="app auto flex-container">
    <div class="flex-container flex-column">
        {{- partial "nav.html" . -}}
    <div>{{.Content}}</div>
    <div class="general-div">
        {{ range .Params.year }}
            <h2 id="{{ .year }}">
                {{ .year }}
                <a href="#{{ .year }}" class="anchor" aria-hidden="true">
                    <i class="fad fa-link"></i>
                </a>
            </h2>
            <ul>
            {{ range $id, $e := .entry }}
                <li>
                    <span class="bangumi btn">{{ .name }}</span> 
                    {{- if isset . "rate" -}}
                        [<span class="bangumi-rate">{{ .rate }}</span>]
                    {{- end -}}
                    {{- if isset . "tags" -}}
                        [{{ .tags }}]
                    {{- end -}}
                    {{- if isset . "staff" -}}
                        [{{ .staff }}]
                    {{- end -}}

                    <li class="li-no-style indent">
                        {{- if isset . "comment" -}}
                            {{ .comment }}
                        {{- end -}}
                    </li>
                </li>
            {{ end }}
            </ul>
        {{ end }}
    </div>

</body>

{{- partial "footer.html" . -}}